

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo{
  width: 100px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ProseMirror {
  position: relative;
}

.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  display: block;
  float: left;
  color: #475569;
  pointer-events: none;
  height: 0;
  user-select: none;
  font-size: 40px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.5;
  margin-left: 2px;
}
.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.ProseMirror:focus .is-empty::before {
  display: none;
}
.scroll-menu-wrapper {
  overflow: hidden;
  width: calc(100% - 80px); /* Adjust based on arrow sizes */
}

.scroll-menu-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-menu-container::-webkit-scrollbar {
  display: none;
}

.scroll-menu-container > div {
  scroll-snap-align: center;
}
.tippy-box {
  background-color: white !important;
  border-radius: 12px !important;
  padding: 0px !important;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1) !important;
}
